{% load static %}

<!doctype html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport"
         content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{ main_settings.site_name|default_if_none:'Blank name' }}: {{ main_settings.site_description|default_if_none:'Blank description' }}</title>
   <style>:root {--index-color: {{ main_settings.index_color }};}</style>
   <script src="https://cdn.tailwindcss.com"></script>

   {% if main_settings.site_favicon %}
   <link rel="shortcut icon" href="media/{{ main_settings.site_favicon }}" type="image/x-icon">
   {% else %}
   <link rel="shortcut icon" href="{% static 'default_favicon.png' %}" type="image/x-icon">
   {% endif %}

   <link rel="stylesheet" href="{% static 'styles/index.css' %}">
   <link rel="stylesheet" href="{% static 'styles/swiper.css' %}">
   <link rel="stylesheet" href="{% static 'styles/swiper-bundle.css' %}">
</head>
<body class="*:font-extralight bg-gray-200">

<section class="section-slider *:text-white">
   <div class="swiper-container h-full relative">
      <div class="swiper-wrapper h-full">
         {% for slider in sliders_data %}
            <a class="swiper-slide slide-{{ forloop.counter }} h-full flex flex-col justify-center"
               style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url('media/{{ slider.logo }}')"
               href="{{ slider.href|default_if_none:'#' }}"
            >
               <div class="swiper-content mx-4 my-14 lg:mx-20">
                  <h4 class="text-2xl text-center mb-10 lg:text-left lg:text-4xl">{{ slider.title }}</h4>
                  <ul class="flex flex-col gap-3.5">
                     {% for description in slider.descriptions.all %}
                     <li class="flex gap-3.5 items-center">
                        <svg class="swiper-list-disc" height="10" width="10"><circle r="5" cx="5" cy="5"></circle></svg>
                        <span class="text-lg lg:w-7/12">{{ description.description }}</span>
                     </li>
                     {% endfor %}
                  </ul>
               </div>
            </a>
         {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
   </div>
</section>

{% for category in categories %}
<section class="section-catalog px-4">
   <h3 class="section-name text-2xl mt-10">{{ category.name }}</h3>
   <div class="products-container">
      {% for product in category.product.all %}
      <div class="product-block">
         <h5 class="product-name">{{ product.name }}</h5>
         {% if product.logo %}
         <img class="product-image" src="media/{{ product.logo }}">
         {% endif %}
         <div class="additional-contacts hidden absolute bg-white bottom-0 left-0 w-full *:w-full *:h-full *:flex *:items-center *:justify-center *:py-1">
            <a href="tel:{{ main_contacts.phone }}"><img class="w-7 h-7" src="{% static 'images/phone.png' %}"></a>
            <a href="mailto:{{ main_contacts.email }}"><img class="w-7 h-7" src="{% static 'images/email.png' %}"></a>
            <a href="https://t.me/{{ main_contacts.telegram }}"><img class="w-7 h-7" src="{% static 'images/telegram.png' %}"></a>
         </div>
      </div>
      {% endfor %}
   </div>
</section>
{% endfor %}

<section class="section-contacts border-t-2 border-zinc-300 my-8 p-4">

   <h3 class="section-name text-2xl my-5">Связаться с нами:</h3>
   <ul class="flex flex-col gap-2.5 ml-5 mb-5 *:text-base">
      <li class="flex gap-2.5 items-center">
         <img class="w-5 h-5" src="{% static 'images/phone.png' %}">
         <a href="tel:{{ main_contacts.phone }}"><span>{{ main_contacts.phone }}</span></a>
      </li>
      <li class="flex gap-2.5 items-center">
         <img class="w-5 h-5" src="{% static 'images/email.png' %}">
         <a href="mailto:{{ main_contacts.email }}"><span>{{ main_contacts.email }}</span></a>
      </li>
      <li class="flex gap-2.5 items-center">
         <img class="w-5 h-5" src="{% static 'images/telegram.png' %}">
         <a href="https://t.me/{{ main_contacts.telegram }}"><span>@{{ main_contacts.telegram }}</span></a>
      </li>
   </ul>

   <img class="w-full hidden lg:block" src="{% static 'images/contact-or-block-desktop.png' %}">
   <img class="w-full block lg:hidden" src="{% static 'images/contact-or-block-mobile.png' %}">

   <form action="/contact-submit/" method="post">
      <h3 class="section-name text-2xl mt-9 mb-5">Оставить заявку:</h3>
      {% csrf_token %}
      <input class="w-full p-3 font-thin rounded mb-2"
             type="tel"
             name="phone"
             pattern="\+?[0-9\s\-\(\)]+"
             placeholder="Ваш номер телефона"
             required
      >
      <button class="submit-contact-form text-white w-full py-3 font-light rounded" type="submit">Отправить</button>
   </form>
</section>

<script src="{% static 'scripts/swiper-bundle.min.js' %}"></script>
<script src="{% static 'scripts/swiper.js' %}"></script>
<script src="{% static 'scripts/index.js' %}"></script>
</body>
</html>